name: Super Fast Scraper
on:
  schedule:
    - cron: '30 * * * *' # Se ejecutará cada 5-7 min aprox (límite de GH)
  workflow_dispatch:   # Esto activa el botón para probarlo a mano

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: pip install requests firebase-admin
        
      - name: Run Scraper
        run: python scraper.py
        env:
          # IMPORTANTE: Esto mapea el Secret al entorno del script
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}